[Interface]
Address = {{ wireguard_address }}
ListenPort = {{ wireguard_listenport }}
PrivateKey = {{ wireguard_privatekey }}

{% for peer in wireguard_peers %}
[Peer]
# Name = {{ peer.name }}
PublicKey = {{ peer.publickey }}
AllowedIPs = {{ peer.allowed_ips }}
{% if peer.endpoint is defined %}
Endpoint = {{ peer.endpoint }}
PersistentKeepalive = {{ wireguard_persistent_keepalive }}
{%- endif %}
{{- "
" if not loop.last }}
{% endfor %}
